


<div>
    <h1 style="text-align: center;">ABOUT ME</h1>
    <p style="text-align: center;">
        I have a deep running passion for tinkering and building things. Programming caught my attention a few years back because of the 
        power to build anything you can think of. Since then, Ive been improving my skills and building out my ideas.
    </p>

    <h3>Random Quick Facts</h3>
    <ul>
        <li>I graduated with honors from Kean University in Computer Science</li>
        <li>Im a first generation college graduate - thanks to support of my parents</li>
        <li>Im constantly fascinated by advancements in tech</li>
        <li>I like the challenge of collecting data from places where its not easily accessible - I became good at webscraping</li>
        <li>I like backend engineering more than front</li>
        <li>Ive played a few instruments in life but drums are the ones that I spent the most time with.</li>
        <li>I like old cars, like vintage European and JDM classics</li>
        <li>Im pretty competitve in sports, even if its friends and family - I'm not losing</li>
        <li>I work best in the late hours of the night/early hours of the morning</li>
        <li>Ive been practicing the art of photography for about 8 years and some of my work has been used all over the internet thanks to Unsplash</li>
    </ul>

    <h3>SKILLS - What I Know</h3>
    
    <ul>
        <li>JAVA - The first language I learned was Java, I spent the most time with this language in College for assignments</li>
        </li>
        <li>JAVASCRIPT - I learned JavaScript to be able to whip up quick things on the web</li>
        <li>NODE.JS - JavaScript led me to learn Node.Js and build out projects with it - such as this <href src="github.com/BernieAL/portfolio">site</href></li>
        <li>PYTHON - My love for data lead me to learn python. Ive enjoyed how much cleaner it is to read/write over Java </li>
        <li>FLASK - ofcourse I want to build webapps with python. Flask is similar to NodeJs as well.</li>
        <li>Right now, Im experimenting with some of Python's data science libraries(Pandas,Numpy,Scikit)</li>
    </ul>


    <h2>Some other Things I have expereince with</h2>

</div>